.border-top{
    border-top:1px solid #eee;
    background-color: #fff;
    padding-bottom:10px;
}
.upload{
    border:1px #ccc dashed;
    padding:10px;
    width:60px;
    margin-left:10px;
    position: relative;
    img{
        width:30px;
        height:30px;
        display: block;
        margin:0 auto;
    }
    span{
        display: block;
        color:#888;
    }
    input{
        position: absolute;
        z-index: 1;
        opacity: 0;
        top:0;
        left:0;
        width:80px;
        height:70px;
        background-color: transparent;
        border:0;
    }
}
.images-prview{
    padding-top:10px;
    overflow: hidden;
    .img{
        margin-left:10px;
        margin-bottom:10px;
        background-color: #222;
        background-position: center;
        background-repeat: no-repeat;
        height:80px;
        width:80px;
        float:left;
        position: relative;
        span{
            color: #fff;
            background-color: red;
            width: 20px;
            height: 20px;
            display: block;
            text-align: center;
            position: absolute;
            right: 0;
        }
    }
}
.orderDetail-page .orderDetail-main .orderDetail .border-top-none{
    border:0;
}
.eval{
    padding:10px 0;
    >span{
        margin-right:15px;
    }
}
.orderDetail{
    margin-bottom:10px;
}